[submodule "README"]
	path = projects/README
	url = https://github.com/bamr87/README.git
	branch = main
[submodule "scripts"]
	path = projects/scripts
	url = https://github.com/bamr87/scripts.git
	branch = master
[submodule "cv"]
	path = projects/cv
	url = https://github.com/bamr87/cv-builder-pro.git
	branch = main
[submodule "skills"]
	path = projects/skills
	url = https://github.com/microsoft/skills.git
	branch = main
	update = merge
