[submodule "README"]
	path = README
	url = https://github.com/bamr87/README.git
	branch = main
[submodule "scripts"]
	path = scripts
	url = https://github.com/bamr87/scripts.git
	branch = master
[submodule "cv"]
	path = cv
	url = https://github.com/bamr87/cv-builder-pro.git
	branch = main
